@model IEnumerable<TQMPG.Models.KPI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KPI_DeptID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KPI1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KPI_DeptID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KPI1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KPI_DeptID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AutoID })
        </td>
    </tr>
}

</table>
