<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TQM PLUS</title>
    <link href="http://adpgintranet2.web.analog.com/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="http://adpgintranet2.web.analog.com/static/js/jquery.min.js"></script>
    <script src="http://adpgintranet2.web.analog.com/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://adpgintranet2.web.analog.com/static/datatables/datatables.min.js"></script>
    <link src="http://adpgintranet2.web.analog.com/static/font-awesome/css/font-awesome.css">
    <link src="http://adpgintranet2.web.analog.com/static/font-awesome/css/all.css">
    <link src="http://adpgintranet2.web.analog.com/static/font-awesome/css/font-awesome.min.css">
    <link href="http://adpgintranet2.web.analog.com/static/datatables/datatables.min.css" rel="stylesheet">
    @Styles.Render("~/Content/Site.css")


    @{System.Security.Principal.WindowsIdentity identity = HttpContext.Current.Request.LogonUserIdentity; }


</head>


<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient"
         style="background-image: url(&quot;none&quot;);background-color: #ffffff;">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/Images/tqmpluslogo.png" alt="" />
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a href="http://adpgintranet2.web.analog.com" class="nav-link" style="color:black">My TQM</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        @Html.ActionLink("Start A Story", "Index", "StorySubmit", null, new { @class = "nav-link", style = "color:Black" })
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="http://adpgintranet2.web.analog.com" class="nav-link" style="color:black">Resources</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="http://adpgintranet2.web.analog.com" class="nav-link" style="color:black">Contact Us</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link", style = "color:Black" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown"
                           aria-expanded="false" href="#" style="color: rgb(0, 0, 0);">Forms</a>
                        <div class="dropdown-menu" role="menu">
                            @Html.ActionLink("Register Department KPI", "Index", "KPI_Dept", null, new { @class = "dropdown-item", style = "color:Black" })
                            @Html.ActionLink("Register KPI", "Index", "KPI", null, new { @class = "dropdown-item", style = "color:Black" })
                            @Html.ActionLink("Register Department Head", "Index", "Dept_Info", null, new { @class = "dropdown-item", style = "color:Black" })
                            @Html.ActionLink("DH Approval", "Index", "Approval", null, new { @class = "dropdown-item", style = "color:Black" })
                            @Html.ActionLink("Facilitator", "Facilitator", "Approval", null, new { @class = "dropdown-item", style = "color:Black" })
                            @Html.ActionLink("Upload Completed Story", "UploadFile", "Upload", null, new { @class = "dropdown-item", style = "color:Black" })
                            @Html.ActionLink("Download Completed Story", "downloadFile", "Upload", null, new { @class = "dropdown-item", style = "color:Black" })
                        </div>
                       
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="#" class="nav-link" style="color:black">@identity.Name.Split('\\')[1]</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid body-content" style="padding-top:50px;">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - Developed by ADPG MIS [1295]</p>
        </footer>
    </div>

</body>
</html>
