@model IEnumerable<TQMPG.Models.TQM_Details>
<div style="padding-top:80px;">
    @{
        ViewBag.Title = "My Projects";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

  

    <h2>@ViewBag.Title</h2>
    <div id="getUserInfo" hidden>
        <p>

        </p>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                Project Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KPI_Dept)
            </th>

         
            <th>
                @Html.DisplayNameFor(model => model.SynergyModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactDate)
            </th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPI_Dept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SynergyModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactDate)
            </td>

            <td>

                @{

                    if (item.Status == "DH PreApproved")
                    {
                        <a id=@item.AutoID href="/tqm/ProjectCharter/Create/@item.SerialNo">Project Charter</a>
                        @*@Html.ActionLink("Project Charter", "Edit", new { id = item.AutoID })*@

                    }
                    else
                    {
                        @Html.ActionLink("Edit | ", "Edit", new { id = item.AutoID })
                        @*@Html.ActionLink("Details | ", "Details", new { id = item.AutoID })*@
                        @*@Html.ActionLink("Delete", "Delete", new {id = item.AutoID })*@


                    }

                }


            </td>
        </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>

<script>
    
</script>